<p id="notice"><%= notice %></p>

<p>
  <strong>Table:</strong>
  <%= @order.table.number %>
</p>

<p>
  <strong>Client:</strong>
  <%= @order.client.name %>
</p>
<p>
  <strong>Foods:</strong>
  <% @order.foods.each do |food| %>
    <%= food.name %>
  <% end %>
</p>

<%= link_to 'See All', orders_path %>
