<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @table.number %>
</p>

<p>
  <strong>Location:</strong>
  <%= @table.location %>
</p>

<p>
  <strong>Note:</strong>
  <%= @table.note %>
</p>

<%= link_to 'Edit', edit_table_path(@table) %> |
<%= link_to 'Back', tables_path %>
